.flex-container {
    display: flex;
    justify-content: space-between;
}

.scores {
    display: flex;
}

.scores a {
    text-decoration: #ffc93c wavy underline;
    color: #ffc93c;
    background-color: #155263;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
}

a:hover {
    font-weight: bold;
}

.timer {
    text-decoration: #155263 wavy underline;
    color: #155263;
    background-color: #ffc93c;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
}

.start h1 {
    display: flex;
    justify-content: center;
    color: #ff6f3c;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.start p {
    display: flex;
    justify-content: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

button {
    background-color: #ff9a3c;
    color: #155263;
}

button:hover {
    font-weight: bold;
}

/* how do I center the start quiz button? */

/* .hide {
    display: none;
} */

.hide h2 {
    display: flex;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ff6f3c;
    text-decoration: #ffc93c wavy underline;
}

.hide p {
    display: flex;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.highscore-style h1 {
    display: flex;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ff6f3c;
    text-decoration: #ffc93c wavy underline;
}

.highscore-style ul {
    display: flex;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    list-style-type: none;
    color: #155263;
}

.highscore-style button a {
    text-decoration: none;
}

.highscore-style button a:visited {
    color: #155263;
}





